APP_NAME=skeleton
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=withdraw-pix-db
DB_PORT=3306
DB_DATABASE=withdraw_pix
DB_USERNAME=root
DB_PASSWORD=root
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

AMQP_HOST=rabbitmq
RABBITMQ_QUEUE_CONNECTION=default
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS="noreply@test.co"
MAIL_FROM_NAME="${APP_NAME}"
